{% extends 'base.html' %} 
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static "challenges/challenge.css" %}">
{% endblock  %}

{% block page_title%} ALL CHALLENGES {% endblock %} 

{%comment %} 
Url tag is equivalent to reverse function of django; 
month-challenge is name of path referenced in urls.py; 
arg1(month) is present in <> in path 
{%endcomment %} 

{% block content %}
	{% include "challenges/includes/header.html" %}
	<ul>
		{% for month in months%}
		<li><a href="{% url 'month-challenge' month %}">{{month}}</a></li>
		{% endfor %}
	</ul>
{% endblock %}
